*, *::before, *::after{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: paleturquoise;
    padding: 4px;
    margin: 4px;
}

#header-div{
    background-color: #002147;
    text-align: center;
    margin-bottom: 5px;
}


#header-div, #body-div{
    width: 400px;
    padding: 5px;
    border-radius: 20px;
}

h1{
    color: floralwhite;
}

#body-div{
    background-color: darkcyan;
}

ul, li{
    margin: 0;
    padding: 3px;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: lightgrey;
    display: inline-block;
    width: 120px;
    margin-top: 0;
}

.curry-and-momo{
    width: 50px;
    height: auto;
    border-radius: 80%;
}

li {
    padding: 6px;
    display: flex;
    align-items: center;
}

.curry-and-momo:hover{
    cursor: pointer;
}